# ==== Python (Backend) ====
**/__pycache__/
*.pyc
*.pyo
*.log

# Ignore backend secrets
Backend/secure/
Backend/*.env
Backend/__pycache__/
Backend/secure/key_seed.db

# Ignore Python virtual environment
deso-env/
venv/
env/

# ==== Node.js (Frontend) ====
Frontend/node_modules/
Frontend/.env
Frontend/.next/
Frontend/dist/
Frontend/build/
Frontend/coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==== System Files ====
.DS_Store
Thumbs.db

# Editor Configs
.vscode/
.idea/

# General env files
.env
node_modules
