.messages {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #121212;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 3s ease-in-out;
  }
  
  .messages-header {
    background-color: #282c34;
    color: white;
    padding: 15px;
    text-align: center;
    padding: 20px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    animation: slideDown 1.5s ease-in-out;
  }
  
  .messages-header h1 {
    font-size: 2rem;
  }
  
  .messages-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    width: 75%;
  }
  
  .message-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid #ccc;
  }
  
  .message-item p {
    margin: 0;
    font-size: 1rem;
    color: #e0e0e0;
  }
  
  .timestamp {
    font-size: 0.8rem;
    color: #c5c4c4;
    align-self: flex-end;
  }
  
  .message-input {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .message-input input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .message-input button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color: #0056b3;
  }
