.profile {
    margin: 20px 0;
  }
  
  .profile h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-details h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .profile-details p {
    font-size: 1rem;
  }
  